@import 'normalize.css';
@import 'helpers.css';
@import 'font-awesome.min.css';
@import 'ui.less';

html { 

	font-size: 16px;
	letter-spacing: -0.5px;
	overflow-x: hidden;
}

main {
	width: 100%;
	height: 100vh;
		//background: url(../img/homepage/main-visual.jpg) center center no-repeat;
		.at2x('../img/homepage/main-visual.jpg', center center);
		padding: 2em 6em;
		.button {
			margin-top: -100px;
		}
	}

	main.portfolio {
		height: 9vh;
		padding: 1rem 2rem;
		background: #640ea0;
	}

	main, section, footer {
		right: 0px;
		position: relative;
		transition: right 0.5s ease;
		&.hide {
			right: 273px;
			.menu-trigger {
				display: none;
			}
		}
	}

	header {
		
		a {
			float: left;
			opacity: 1;
			-webkit-transition: opacity 0.5s; /* Safari */
			transition: opacity 0.5s;
			&:hover {
				opacity: 0.8;
			}
		}

		span {
			float: right;
		}
	}

	.logo	{
		width: 180px;
	}

	.menu-trigger .fa-bars {
		font-size: 24px;
		line-height: 33px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		&:hover {
			color: yellow;
		}
	}


	nav {
		right: -273px;
		transition: right 0.5s ease;
		width: 273px;

		&.show {
			right: 0px;

		}

		.menu-trigger {
			right: 7%;
			top: 15px;
			font-size: 1.5rem;
			cursor: pointer;
			-webkit-transition: color 0.5s; /* Safari */
			transition: color 0.5s;
			&:hover {
				color: yellow;
				-webkit-transition: color 0.5s; /* Safari */
				transition: color 0.5s;
			}
		}

		.nav-list-container {
			padding: 3.5rem 2.5rem 2rem;
		}

		.dribbble-feed {
			padding: 2rem 2rem 2rem 2.5rem;

		}

		.social.mini .link {
			margin-right: 1rem;
			img {
				height: 14px;
			}
		}
	}

	


	.slogan-container {
		height: 80vh;
	}

	

	.slogan {
		padding: 1em 0;
		vertical-align: middle;
		display: inline-block;
		br {
			display: none;
		}
		.chaparral-light();
		font-size: inherit;
		line-height: inherit;
		strong {

			font-size: 6rem;
			line-height: 7.3rem;
			margin-bottom: -21px;
			margin-top: -7px;
		}
		span {
			font-size: 3.9rem;
			line-height: 2.8rem;
			display: inline;
			&:last-child {
				font-size: 3rem;
			}
		}

		i {
			font-size: 4.3rem;
			line-height: 3.5rem;
			&:last-child {
				font-size: 3.5rem;
			}


		}

	}






	.button {
		width: 222px;
	}
	
	

	// Latest Work

	.latest-work {
		padding: 2rem 1.5rem;
		height: 100vh;

		.title {
			margin-bottom: 1.5rem;
			font-size: 3.3rem;
		}

		.slider {
			margin-bottom: 1rem;

			.item{
				height: 55vh;
			}


		}

		.owl-theme .owl-controls .owl-page span {
			width: 20px;
			height: 20px;
		}

		.owl-prev {
			position: absolute;
			left: 5%;
			top: 50%;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			background: transparent;
			content: '';
			opacity: 1;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
			z-index: 1;

			&:before {
				font-family: "FontAwesome";
				content: "\f104";
				font-size: 3rem;
				height: 3rem;
				line-height: 3rem;
				z-index: 2;
				width: 2.7rem;
				display: block;
				margin: 0 auto;
				position: absolute;
			}

			
			

			&:hover {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
				background: white;
			} 

			&:hover:before {
				color: #666;
			}
		}

		.owl-next {
			position: absolute;
			right: 5%;
			top: 50%;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			background: transparent;
			content: '';
			opacity: 1;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
			z-index: 1;

			
			&:before {
				font-family: "FontAwesome";
				content: "\f105";
				font-size: 3rem;
				height: 3rem;
				line-height: 3rem;
				z-index: 2;
				width: 3.1rem;
				display: block;
				margin: 0 auto;
				position: absolute;

			}

			&:hover {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
				background: white;
			} 

			&:hover:before {
				color: #666;
			}
		}


	}


	
	// Portfolio

	section.portfolio {
		padding: 2rem 1.5rem;

		.title-dark {
			margin-bottom: 1rem;
		}

		.text {
			padding:0 1rem;
			width: 75%;
			margin: 0 auto;
		}
		

		.project-list {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex; /* or inline-flex */
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: start;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			justify-content: center;
			max-width: 990px;
			margin: 2rem auto;
		}


		.projects-list ul {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex; /* or inline-flex */
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: start;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
		}

		.projects-list li {
			margin-bottom: 2rem;
			
			width: 24%;
			height: auto; 
			margin: 1%;

			/*---------------*/
			/***** Bubba *****/
			/*---------------*/

			figure.effect-bubba {
				
				position: relative;
				width: 92%;
				height: 92%;
				margin: 0 auto;
				display: block;
			}

			figure a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;	
				z-index: 1000;
				text-indent: 200%;
				white-space: nowrap;
				font-size: 0;
				opacity: 0;
			}

			figure.effect-bubba img {
				opacity: 1;
				-webkit-transition: opacity 0.35s;
				transition: opacity 0.35s;
				/* position: absolute; */
				top: 0;
				left: 0;
				max-width: 340px;
				width: 100%;
			}

			figure.effect-bubba:hover img {
				opacity: 1;
			}

			figure.effect-bubba:hover figcaption {
				opacity: 0.93;
				background: #640ea0;
			}

			figure.effect-bubba figcaption {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #640ea0;
				opacity: 0;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
			}



			figure.effect-bubba figcaption::before,
			figure.effect-bubba figcaption::after {
				position: absolute;
				top: 18px;
				right: 18px;
				bottom: 18px;
				left: 18px;
				content: '';
				opacity: 0;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
			}

			figure.effect-bubba figcaption::before {
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				-webkit-transform: scale(0,1);
				transform: scale(0,1);
			}

			figure.effect-bubba figcaption::after {
				border-right: 1px solid #fff;
				border-left: 1px solid #fff;
				-webkit-transform: scale(1,0);
				transform: scale(1,0);
			}

			figure.effect-bubba h2 {
				opacity: 0;
				padding-top: 15%;
				-webkit-transition:opacity .35s, -webkit-transform 0.35s;
				transition:opacity .35s, transform 0.35s;
				-webkit-transform: translate3d(0,-15px,0);
				transform: translate3d(0,-15px,0);
				.meta-bold;
				text-transform: uppercase;
			}

			figure.effect-bubba p {
				opacity: 0;
				-webkit-transition: opacity .35s,-webkit-transform .35s;
				transition: opacity 0.35s, transform 0.35s;
				-webkit-transform: translate3d(0, 20px, 0);
				transform: translate3d(0, 20px, 0);
				font-size: 24px;
				border: 2px solid white;
				width: 55%;
				padding: 11px;
				display: block;
				border-radius: 6px;
				margin: 1rem auto;
				.meta-bold;
				text-transform: uppercase;
			}

			figure.effect-bubba:hover figcaption::before,
			figure.effect-bubba:hover figcaption::after {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
				height: 83%;
			}

			figure.effect-bubba:hover h2,
			figure.effect-bubba:hover p {
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

		}

		.project-list img {
			margin-bottom: 2rem;
			max-height: 100%;
			/* display: inline-block; */
			height: 100%;
			&.half {
				width: 47.5%;
				height: 47.5%; 

			}

			&.third {
				width: 32%;
				height: 32%;
			}

			&.third.middle {
				margin-left: 1.75%;
				margin-right: 1.75%;
			}

			&.margin-left {
				margin-left: 4%;
			}

			&:last-child {
				margin-bottom: 0;
			}

		}

		.projects-navigation li {
			height: 3rem;
			font-size: inherit;
		}		

		.projects-navigation li.grid path {
			-webkit-transition: all .15s;
			transition: all 0.45s;
		}
		.projects-navigation li.grid a:hover path.back {
			fill: #640ea0;
		}	
		.projects-navigation li.grid a:hover path:not(.back) {
			fill: #fff;
		}	


		.projects-navigation li a {
			font-size: 3rem;
			line-height: 3rem;
			-webkit-transition: all .15s;
			transition: all 0.15s;
		}

		.projects-navigation li:not(.grid) a:hover  {

			color: #640ea0;
			-webkit-text-fill-color: #640ea0; /* Will override color (regardless of order) */
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #640ea0;

		}

	}






	// Contact us

	.contact {
		padding: 2rem 1.5rem 0rem 1.5rem;

		.submit.button.light {
			width: 150px;
			i {
				font-weight:normal;
			}
		}

		textarea {
			-webkit-transition: height 0.2s;
			-moz-transition: height 0.2s;
			transition: height 0.2s;
		}
	}

	footer {
		margin: 2rem 0rem;
		h5 {
			font-weight: 600;
		}
	}


	// Not Found 

	.not-found {
		color: #a98aeb;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: center;
		align-items: flex-start;
		-webkit-justify-content: center;
		justify-content: center;
		background: url("../img/404-bunny.svg") no-repeat center right;
		background-size: contain;
		width: 48em;
		height: 30em;
		margin: auto;
		margin-top: 4rem;


		h1 {
			.chaparral-bold();
			font-size: 6rem;
			line-height: 6rem;
			text-transform: uppercase;
			margin: 0 !important;
		}

		p {
			.meta-regular();
			color: #4a535f;
			font-size: 1.5rem;
			padding-left: 5px;
			width: 500px;
		}

		p.last {

		}

		.button {
			display: block;
			width: 30%;
		}

		img {
			margin-left: 0;
			align-self: flex-start;

		}
	}