@import 'normalize.css';
@import 'helpers.css';
@import 'font-awesome.min.css';
@import 'ui.less';

	html { 

		font-size: 13px;
		letter-spacing: -0.5px;
	}

	main {
		width: 100%;
		height: 76vh;
		//background: url(../img/homepage/main-visual.jpg) center center no-repeat;
		.at2x('../img/homepage/main-visual.jpg', center center);
		padding: 1em 1.5em;
	}

	main.portfolio {
		height: 10vh;
		background: #640ea0;
	}

	main, section, footer {
		-webkit-transition: -webkit-transform 0.5s;
		-webkit-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		&.hide {
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		}
	}

	@media screen and (orientation: landscape) {
		main {
			height: 150vh;
		}

		main.portfolio {
			height: 20vh;
			background: #640ea0;
		}

		main, section, footer {
			-webkit-transition: -webkit-transform 0.5s;
			-webkit-transform: translate3d(0%, 0, 0);
			transform: translate3d(0%, 0, 0);
			&.hide {
			    -webkit-transform: translate3d(-50%, 0, 0);
			    transform: translate3d(-50%, 0, 0);

			    .menu-trigger {
			    	display: none;
			    }
			}
		}
	}

	header {
		
		a {
			float: left;
		}

		span {
			float: right;
		}
	}

	.logo	{
		width: 136px;
	}

	.menu-trigger .fa-bars {
		font-size: 22px;
		line-height: 25px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	}


	nav {
		-webkit-transition: -webkit-transform 0.5s;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);

		&.show {
		    -webkit-transform: translate3d(0%, 0, 0);
		    transform: translate3d(0%, 0, 0);
		}

		.menu-trigger {
			right: 5%;
			top: 10px;
		}
	}

	@media screen and (orientation: landscape) { 
		nav {
			-webkit-transition: -webkit-transform 0.5s;
			-webkit-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);

			&.show {
			    -webkit-transform: translate3d(50%, 0, 0);
			    transform: translate3d(50%, 0, 0);
			}
			
			.menu-trigger {
				right: 54%;
				top: 10px;
			}

		}
	}


	.slogan-container {
		height: 50vh;
	}

	@media screen and (orientation: landscape) {
		.slogan-container {
			height: 100vh;
		}
	}

	.slogan {
		padding: 1em 0;
		vertical-align: middle;
		display: inline-block;

	}

	.button {
		width: 80%;
	}
	
	@media screen and (orientation: landscape) {
		.button:not(.half) {
			width: 50% !important;
		}
	}


	// Latest Work

	.latest-work {
		padding: 2rem 1.5rem;

		.title {
			margin-bottom: 1.5rem;
		}

		.slider {
			margin-bottom: 1rem;

			.item{
			   height: 30vh;
			}
		}



		@media screen and (orientation: landscape) {
			.slider {
				height: 80vh;
				.item {
				   height: 60vh;
				}
			}
		}
	}


	
	// Portfolio

	section.portfolio {
		padding: 2rem 1.5rem;

		.title-dark {
			margin-bottom: 1rem;
		}

		.text {
			padding:0 1rem;
		}

		.projects-list li {
			margin-bottom: 2rem;
			&:last-child {
				margin-bottom: 0;
			}
		}

		li img {
			max-width: 100%;
		}

		



		@media screen and (orientation: landscape) {
			
		}
	}


	




	// Contact us

	.contact {
		padding: 2rem 1.5rem 0rem 1.5rem;
	}

	footer {
		margin: 2rem 0rem;
	}

