@import 'normalize.css';
@import 'helpers.css';
@import 'font-awesome.min.css';
@import 'ui.less';
#viewport {
	position: absolute;
	top: 0;
	left: 0;
	color: black;
	z-index: 999;
}

	html { 

		font-size: 13px;
		letter-spacing: -0.5px;
	}

	main {
		width: 100%;
		height: 76vh;
		height: 400px;
		//background: url(../img/homepage/main-visual.jpg) center center no-repeat;
		.at2x('../img/homepage/main-visual.jpg', center center);
		padding: 1em 1.5em;
	}

	main.portfolio {
		height: 10vh;
		height: 50px;
		background: #640ea0;
	}

	main, section, footer {
		-webkit-transition: -webkit-transform 0.5s;
		-webkit-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		&.hide {
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		}
	}

	@media screen and (orientation: landscape) {
		main {
			height: 150vh;
			height: 400px;
		}

		main.portfolio {
			height: 15vh;
			background: #640ea0;
		}

		main, section, footer {
			-webkit-transition: -webkit-transform 0.5s;
			-webkit-transform: translate3d(0%, 0, 0);
			transform: translate3d(0%, 0, 0);
			&.hide {
			    -webkit-transform: translate3d(-50%, 0, 0);
			    transform: translate3d(-50%, 0, 0);

			    .menu-trigger {
			    	display: none;
			    }
			}
		}
	}

	header {
		
		a {
			float: left;
		}

		span {
			float: right;
		}
	}

	.logo	{
		width: 136px;
	}

	.menu-trigger .fa-bars {
		font-size: 22px;
		line-height: 25px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	}


	nav {
		-webkit-transition: -webkit-transform 0.5s;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		width: 100vw;

		&.show {
		    -webkit-transform: translate3d(0%, 0, 0);
		    transform: translate3d(0%, 0, 0);
		}

		.menu-trigger {
			right: 5%;
			top: 10px;
		}
	}

	@media screen and (orientation: landscape) { 
		nav {
			-webkit-transition: -webkit-transform 0.5s;
			-webkit-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);

			&.show {
			    -webkit-transform: translate3d(50%, 0, 0);
			    transform: translate3d(50%, 0, 0);
			}
			
			.menu-trigger {
				right: 54%;
				top: 10px;
			}

		}
	}


	.slogan-container {
		height: 50vh;
	}

	@media screen and (orientation: landscape) {
		.slogan-container {
			height: 65vh;
		}
	}

	.slogan {
		padding: 1em 0;
		vertical-align: middle;
		display: inline-block;

	}

	.button {
		width: 80%;
	}
	
	@media screen and (orientation: landscape) {
		.button:not(.half) {
			width: 50% !important;
		}
	}


	// Latest Work

	.latest-work {
		padding: 2rem 1.5rem;

		.title {
			margin-bottom: 1.5rem;
		}

		.slider {
			margin-bottom: 1rem;

			.item{
			   height: 30vh;
			}
		}

		.owl-buttons {
			display: none;
		}


		@media screen and (orientation: landscape) {
			.slider {
				height: 80vh;
				.item {
				   height: 60vh;
				}
			}
		}
	}


	
	// Portfolio

	section.portfolio {
		padding: 2rem 1.5rem;

		.title-dark {
			margin-bottom: 1rem;
		}

		.text {
			padding:0 1rem;
		}

		.projects-list {
				li {
					margin-bottom: 2rem;
					&:last-child {
						margin-bottom: 0;
					}
				}
				img {
					max-width: 100%;
					&:last-child {
						margin-bottom: 0;
				}
			}
		}

		.project-list img {
			margin-bottom: 2rem;
			max-width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}

		.grid {
		            width: 23%;
		        }

		li img {
			
		}
		


		
	}

	.projects-navigation {
	    text-align: center;
	    margin-bottom: 2rem;
	    li {
	        font-size: 3rem;
	        display: inline-block;
	        width: 32%;
	        text-align: left;
	        &:last-child {
	            margin-right: 0;
	            text-align: right;
	        }
	        &.grid {
	            font-size: 5.5rem;
	            line-height: 1rem;
	            text-align: center;
	            
	        }
	        @media screen and (orientation: landscape) {
	        	.grid {
	        	            width: 13%;
	        	        }
	        }
	    }
	    a {
	        color: #4a535f;
	        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	       -webkit-text-stroke-width: 2px;
	       -webkit-text-stroke-color: #4a535f;
	    }
	}

	




	// Contact us

	.contact {
		padding: 2rem 1.5rem 0rem 1.5rem;
	}

	footer {
		margin: 2rem 0rem;
	}

